// font-family: 'Oswald', sans-serif;

@charset "utf-8";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes load {
    0% {
        opacity: 1;
        z-index: 200;
    }
    75% {
        opacity: 1;
        z-index: 200;
    }
    100% {
        opacity: 0;
        z-index: -200;
    }
}

@keyframes nav {
    0% {
        margin-left: -100px;
    }
    100% {
        margin-left: 0;
    }
}



/*-- background-color --*/
$background: #444444;
$text_color: #1f1f1f;
$text_hover: #cbcbcb;
$contact_border: #939393;
$text_color_W: #fdfdfd;
/*-- left-background-color --*/


html {
    font-size: 62.5%;
}

body {

    font-size: 1.2rem;
    font-family: 'Oswald', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #000;
    
    
}



*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #333;
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*-- Loading --*/
.loader-wrap {
    position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fdfdfd;
    animation: load 2.5s ease forwards;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.8em solid rgba(88, 88, 88, 0.2);
  border-right: 0.8em solid rgba(87, 87, 87, 0.2);
  border-bottom: 0.8em solid rgba(88, 88, 88, 0.2);
  border-left: 0.8em solid #888888;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*-- Loading END --*/


/*-- import部分 --*/

@import "_up.scss";
/*-- import部分 終 -- */
#hoge {
    width: 100%;
    height: 100%;
    margin:0 auto;
    background-color:#fdfdfd;
    position: fixed;
    top: 0;
    left: 0;
    // clip-path: polygon(0 0, 40% 0%, 70% 100%, 0% 100%);
    z-index: -101;
}

.video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}
video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -100;
    background-size: cover;
    filter: grayscale(1);
    
}

/*-- top --*/

.backSize {
    width: 100vw;
    height: 100vh;
}

.catch {
    display: block;
    position: absolute;
    width: 99%;
    height: 98%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #fdfdfd;
}

.header {
    width: 200px;
    position: fixed;
    & .logo {
        width: 100%;
        margin-left: 20%;
        margin-top: 20%;
        & a img {
            width: 60px;
        }
    }
    & .globalNav {
        display: block;
        position: absolute;
        top: 100px;
        left: 40px;
        & nav {
            & ul {
                & li {
                    margin-top: 15px;
                    margin-left: -150px;
                    animation: nav 0.4s ease-in-out 2.5s forwards;
                    &:nth-child(2) {
                        animation-delay: 2.6s;
                    }
                    &:nth-child(3) {
                        animation-delay: 2.7s;
                    }
                    &:nth-child(4) {
                        animation-delay: 2.8s;
                    }
                    & a {
                        font-size: 1.8rem;
                        font-weight: 200;
                        color: $text_color_W;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}

.top_Inner .scroll {
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .top_Inner .scroll a {
    display: block;
    width: 60px;
    padding-top: 80px;
    color: #fff;
    font-family: bureau-grot, sans-serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
    opacity: 0.5;
  }
  
  .top_Inner .scroll a span {
    -webkit-transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    transform: rotate(-45deg);
    border-bottom: 1px solid #fdfdfd;
    border-left: 1px solid #fdfdfd;
    animation: sdb 2s infinite;
    opacity: 0;
  }
  
  .top_Inner .scroll a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  
  .top_Inner .scroll a span:nth-of-type(2) {
    -webkit-animation-delay: .15s;
    top: 16px;
    animation-delay: .15s;
  }
  
  .top_Inner .scroll a span:nth-of-type(3) {
    -webkit-animation-delay: .3s;
    top: 32px;
    animation-delay: .3s;
  }
  
  @-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.top {
    width: 100vw;
    margin: 0 auto;
    &_Inner {
        width: 68%;
        height: 100vh;
        margin: 0 auto;
        position: relative;
        &_Title {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            animation: fadeIn 2s 3.5s ;
            animation-fill-mode: backwards;
            & h1 {
                text-align: center;
                font-size: 6rem;
                margin-top: 0;
                margin-bottom: 10px;
                letter-spacing: 1px;
                color: $text_color_W;
                font-weight: 600;
            }
            & p {
                text-align: center;
                font-size: 2rem;
                color: $text_color_W;
                font-weight: 200;
                letter-spacing: 2px;
            }
        }
    }
}

/*-- top END --*/

/*-- section_Title --*/
.section_Title {
  padding-top: 80px;
  & h2 {
    font-family: timberline, sans-serif;
    font-weight: 100;
    letter-spacing: 20px;
    color: #e8e8e8;
    font-size: 25rem;
    text-align: center;
  }  
}
.section_Line {
  position: absolute;
  left: -50px;
  & span {
    writing-mode: vertical-rl;
    margin-top: 190px;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-left: 5px;
    &::before {
      content: '';
      position: absolute;
      border-left: 1px solid #000;
      height: 500px;
      left: 0;
      top: -250px;
    }
  }
}






/*-- work --*/
.work {
  width: 100%;
  background-color: #fdfdfd;
  height: 950px;
  &_Inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 0 250px;
    position: relative;
    &_Box {
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      flex-direction: row-reverse;
      &_Img {
        & .site_Img {
          & img {
            max-width: 430px;
            margin-top: -100px;
            border: 1px solid #c4c4c4;
          }
      }
        & .link_Img {
          display: block;
          margin-top: 5px;
          & img {
            width: 16px;
            margin-bottom: 3px;
          }
          & span {
            display: inline-block;
            margin-left: 10px;
            font-size: 1.4rem;
            line-height: 10px;
          }
        }
        
      }
      &_Text {
        width: 100%;
        &_Name {
          & h3 {
            font-size: 6rem;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 100;
            letter-spacing: 5px;
            margin-top: -100px;
            line-height: 2rem;
          }
          & span {
            display: block;
            font-size: 1.3rem;
          }
        }
        &_Item {
          padding-right: 80px;
          margin-top: 50px;
          & p {
            font-size: 1.4rem;
            font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
            letter-spacing: 1px;
            line-height: 3rem;
          }
        }
      }
    }
    &_List {
      text-align: right;
      margin-top: 30px;
      position: absolute;
      right: 130px;
      bottom: 100px;
      & ul li {
        font-size: 3.5rem;
        
        margin-top: 10px;
        & button {
          border: none;
          background-color: transparent;
          cursor: pointer;
          outline: none;
          padding: 0;
          appearance: none;
          font-weight: 100;
        }
      }
    }
  }
}
/*-- work END--*/



/*-- work_photo END --*/

/*-- footer --*/
.footer {
  width: 100%;
  height: 300px;
  &_Inner {
    max-width: 1280px;
    margin: 0 auto;
  }
}


/*-- footer END --*/

/*-- work Page --*/


/*-- work Page END --*/

/*-- about --*/
.about {
  width: 100%;
  background-color: #fdfdfd;
  &_Inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 0;
    position: relative;
    &_Box {
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      &_Img {
        & img {
          max-width: 430px;
          margin-top: -100px;
        }
        &_List {
          text-align: right;
          margin-top: 30px;
          & ul li {
            font-size: 3.5rem;
            font-weight: 100;
            margin-top: 10px;
            & button {
              border: none;
              background-color: transparent;
              cursor: pointer;
              outline: none;
              padding: 0;
              appearance: none;
              font-weight: 100;
            }
          }
        }
      }
      &_Text {
        width: 100%;
        &_Name {
          & h3 {
            font-size: 6rem;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 100;
            letter-spacing: 5px;
            margin-left: 50px;
            margin-top: -50px;
          }
        }
        &_Item {
          margin-left: 100px;
          margin-top: 30px;
          & p {
            font-size: 1.4rem;
            font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
            letter-spacing: 1px;
            line-height: 3rem;
          }
        }
      }
    }
  }
}


/*-- about END --*/

/*-- contact Page --*/

/*-- contact Page END --*/
